<html>
  <body>
    <h2>Add Resto</h2>
    <form method="POST" action="/add_resto">
      <input name="_id" value="" type="hidden">
      Name:</br>
      <input name="name" value=""></br>
      Address:</br>
      <input name="address" value=""></br>
      Description:</br>
      <textarea name="description"></textarea></br>
      <input type="submit">
    </form>
  </body>
</html>
