<html>
  <body>
    {% for arr in range(75001, 75021) + ['Unknown',] %}
      <h3>{{ arr }}</h3>
      <table width=100%>
      {% for resto in restos_by_arr.get(str(arr), []) %}
        <tr>
          <td>{{ resto['name'] }}</td>
          <td><a href="{{ resto['map_link'] }}">{{ resto['short_address'] }}</a></td>
          <td><a href="{{ resto['search_link'] }}">Google</a></td>
	  {% if user_authd %}
	    <td> - </td>
	    <td><a href="{{ resto['edit_link'] }}">edit</a></td>
	    <td>/</td>
	    <td><a href="{{ resto['rm_link'] }}">remove</a></td>
	  {% end %}
        </tr>
      {% end %}
      </table>
    {% end %} 
    <hr/>
    {% for tag in tag_list %}
      <a href="/restos?tag={{ tag }}">{{ tag }}</a>&nbsp
    {% end %}
    <hr/>
    <a href="/add_resto">Add Resto</a> - <a href="/auth/login">Login</a> - <a href="/auth/logout">Logout</a>
  </body>
</html>
