<html>
  <body>
    {% for arr in range(75001, 75021) + ['Unknown',] %}
      <h3>{{ arr }}</h3>
      <table>
      {% for resto in restos_by_arr.get(str(arr), []) %}
        <tr>
          <td>{{ resto['name'] }}</td>
          <td>{{ resto['short_address'] }} (<a href="{{ resto['map_link'] }}">map</a>)</td>
	  <td><a href="{{ resto['edit_link'] }}">edit</a></td>
        </tr>
      {% end %}
      </table>
    {% end %} 
  </body>
</html>
